include mixins/billcard
include mixins/nav

head
    title=title

    link(rel='stylesheet', href='/assets/css/global.css')
    link(rel='stylesheet' href='/assets/css/reset.css')
    link(rel='stylesheet' href='/assets/css/menu.css')
    link(rel='stylesheet' href='/assets/css/nav.css')
    link(rel='stylesheet' href='/assets/css/drinkcard.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(src='/assets/scripts/bills.js' type='text/javascript')
body
    +navbar()


div(class="content")
        div(class="card-container")
            br
            br
            br
            br
            div()
              if allBills
                each bill in allBills
                  br
                  +billcard(bill)
                  br
                //- table
                //-     tr(height='50')
                //-         th
                //-         th Name
                //-         th Total
                //-         th
                //-         th Ready to Pay?
                    
                        //- tr(height='30')
                        //-     td
                        //-         img(src='/assets/images/sanni.jpg', alt='', style="width:48px;height:48px;")
                        //-     td
                        //-         a #{bill.customerID}
                        //-     td #{bill.totalPrice}
                        //-     td
                        //-       button.button(onclick="alert('Request has been sent!')") REQUEST FUNDS
                        //-     td #{bill.ready}
                    //- tr(height='30')
                    //-     td
                    //-         img(src='/assets/images/empty.png', alt='', style="width:48px;height:48px;")
                    //-     td
                    //-         a(href='specific-bill.pug') Kyra Simone
                    //-     td $840
                    //-     td
                    //-       button.button REQUEST FUNDS
                    //-     td False
                    //- tr(height='30')
                    //-     td
                    //-         img(src='/assets/images/empty.png', alt='', style="width:48px;height:48px;")
                    //-     td
                    //-         a(href='specific-bill.pug') Misan
                    //-     td $60
                    //-     td
                    //-       button.button REQUEST FUNDS
                    //-     td True
                    //- tr(height='30')
                    //-     td
                    //-         img(src='/assets/images/empty.png', alt='', style="width:48px;height:48px;")
                    //-     td
                    //-         a(href='specific-bill.pug') Ryan Nourbaran
                    //-     td $6500
                    //-     td
                    //-       button.button REQUEST FUNDS
                    //-     td False
                    //- tr(height="30")
                    //-     td
                    //-         img(src='/assets/images/aj.jpg', alt='', style="width:48px;height:48px;")
                    //-     td
                    //-         a(href='specific-bill.pug') Austin Pennyfeather
                    //-     td $100
                    //-     td
                    //-         button.button REQUEST FUNDS
                    //-     td False
