head
    title=title

    link(rel='stylesheet', href='/assets/css/index.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(src='/assets/scripts/login.js', type='text/javascript')
    
body
    div(class='center' id='logo' style='display: flex;')
        p Drink
        p(style='font-style: italic; font-weight: bold;') Easy
    content
        if typeof error !== 'undefined' && error.length > 0
            error(class='error')=error
            
        div(class='login-form')
            form(id='login' name='input' action='\login' method='post')
                input(class='login-field' type='email' name='email' placeholder='EMAIL',required)
                br
                input(class='login-field' type='password' name='password' placeholder='PASSWORD',required)
                br
                input(id='signInButton' class='login-button' type='submit' value='LOGIN')
        div(class='center' id='signupForm' style='display: flex;')
            p Don't have an account? 
            p(id='signupButton') Sign up
        form(id='signup' name='signup' action='\signup' method="POST")
            //email
            input(class='login-field' type='email' placeholder='EMAIL' name='email',required)
            br
            //password
            input(class='login-field' type='password' placeholder='PASSWORD' name='password',required)
            br
            //first name
            input(class='login-field' type='text' placeholder='NAME OF BAR' name='nameOfBar',required)
            br
            //last name
            input(class='login-field' type='text' placeholder='ADDRESS' name='address',required)
            br            
            input(id='createAccount' class='login-button' type='submit' value='CREATE ACCOUNT')