head
    title #{title}

    link(rel='stylesheet', href='/assets/css/index.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')

    body
        div(class='center' id='logo' style='display: flex;')
            p DrinkEasy

    



        