head
    title=title

    link(rel='stylesheet', href='/assets/css/index.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(src='/assets/scripts/login.js', type='text/javascript')
    
body
    div(class='center' id='logo' style='display: flex;')
        p This is the menu:
            div(class="menu")