.nav {
    position: fixed;
    width: 100%;
    height: 72px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #226666;
}

.nav-link {
    float: left;
}

.nav-link div {
    padding: 26px 16px;
}

.nav-link a {
    font-size: 18pt;
    font-family: sans-serif;
    color: white;
    text-align: center;
    text-decoration: none;
}