mixin drinkcard(d)
    div(class='card')
        div(class='card-container')
            p(class='card-title') #{d.name}
            div('card-content')
                br
                p(class='card-firstName') Drink Name: #{d.name} 
                p(class='card-lastName') Decription: #{d.description}
                br
                p(class='card-email') Price: #{d.price}
                br
                