mixin drinkcard(d)
    div(class='card')
        div(class='card-container')
            p(class='card-title') #{d.drinkName}
            div('card-content')
                br
                p(class='card-description') Description: #{d.description}
                br
                p(class='card-price') Price:$ #{d.price}
                
