mixin navbar()
    ul(class="nav")

        li(class="nav-link")
            div(istyle='display: flex;')
                a(href='/dashboard') Drink
                a(href='/dashboard' style='font-style: italic; font-weight: bold;') Easy

        li(class="nav-link")
                div(style='display: flex;')
                    a(href='/account') My
                    a(href='/account' style='font-style: italic; font-weight: bold; padding-left: 5px;') Account

        li(class="nav-link")
            div(style='display: flex;')
                a(href='/outstanding' action='/outstanding' method='get') Outstanding
                a(href='/outstanding' style='font-style: italic; font-weight: bold; padding-left: 5px;') Tabs

        if (setUpAccount == 1)
            li(class="nav-link")
                div(style='display: flex;')
                    a(href='/hikes') Settled
                    a(href='/hikes' style='font-style: italic; font-weight: bold; padding-left: 5px;') Tabs

        li(class="nav-link")
            div(style='display: flex;')
                a(href='/messages') Support

        li(class="nav-link")
            div(style='display: flex;')
                a(href='/logout' action='/logout' method='get') Log
                a(href='/logout' style='font-style: italic; font-weight: bold; padding-left: 5px;') Out
