mixin navbar()
    ul(class="nav")

        li(class="nav-link")
            div(istyle='display: flex;')
                a(href='/menu') Drink
                a(href='/menu' style='font-style: italic; font-weight: bold;') Easy


        li(class="nav-link")
            div(istyle='display: flex;')
                a(href='/uploadMenu') Upload
                a(href='/uploadMenu' style='font-style: italic; font-weight: bold;') Menu


        li(class="nav-link")
                div(style='display: flex;')
                    a(href='/account') My
                    a(href='/account' style='font-style: italic; font-weight: bold; padding-left: 5px;') Account

        if alreadySetUp
            li(class="nav-link")
                div(style='display: flex;')
                    a(href='/outstanding' action='/outstanding' method='get') Outstanding
                    a(href='/outstanding' style='font-style: italic; font-weight: bold; padding-left: 5px;') Tabs


        li(class="nav-link")
            div(style='display: flex;')
                a(href='/logout' action='/logout' method='get') Log
                a(href='/logout' style='font-style: italic; font-weight: bold; padding-left: 5px;') Out
